body{
  background-color: #3c3d3f;
  color: #EEF1EF;
}
footer{
  height: auto;
  width: auto;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #EEF1EF;
}
