/* VARS */
:root{
  --lightblue: rgb(30, 205, 151);
  --lightblue2 : rgb(39, 249, 185);
}
/* DOC */
body{
  background-color: #3c3d3f;
  color: #EEF1EF;
}
footer{
  height: auto;
  width: auto;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #EEF1EF;
}
h1{
  color: var(--lightblue);
}
a{
  text-decoration: none;
  color: var(--lightblue);
}
a:hover{
  color: var(--lightblue2);
}
.mainContainer{
  display: table;
  width: 100%;
  height: 100%;
}
.splashBoundaries{
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
}
.splashBox{
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  width: 75%;
  height: 75%;
  border-radius: 3px;
  padding: 15px;
  vertical-align: middle;
  align-content: center;
}
.registerBox{
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  width: 75%;
  border-radius: 3px;
  padding: 15px;
  vertical-align: middle;
}
/* CURSOR HANDLING SPEC CLASSES */
.cursorPointer{
  cursor: pointer;
}
/* FORM HANDLING */
.regFormInput{
  border: 0.2px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  background-color: transparent;
  color: var(--lightblue2);
  font-weight: bold;
  cursor: pointer;
}
.regFormInput:focus{
  outline: none!important;
  border-color: var(--lightblue);
}
.regFormInput::placeholder{
  color: var(--lightblue);
  font-weight: bold;
  opacity: 1;
}
/* TABLE HANDLING */
.tableCenter{
  text-align: center;
}
.centeredFull{
  width: 100%;
  height: 100%;
}
/* BUTTONS */
.button_ok{
  background: var(--lightblue);
  padding: 5px;
  border-radius: 3px;
  border-style: none;
}
.button_register{
  cursor: pointer;
  background: var(--lightblue);
  width: 60%;
  font-size: 18px;
  padding: 15px;
  border-radius: 3px;
  border-style: none;
  color: white;
}
/* BUTTON A HREF LINKS */
.greenHrefButton{
  text-decoration: none;
  padding: 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 250px;
  height: 70px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid rgb(30,205,151);
  -webkit-border-radius: 40px;
  border-radius: 20px;
  font: normal 37px/70px "Advent Pro", Helvetica, sans-serif;
  color: rgb(30, 205, 151);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.greenHrefButton:hover {
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
}

.greenHrefButton:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
